<a href="https://colab.research.google.com/github/sasekaninkuri/Standard-Bank-credit-score/blob/main/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [112]:
import pandas as pd


test =pd.read_csv("Test1.csv")
test

,CustomerId,TransactionStartTime,Value,Amount,TransactionId,BatchId,SubscriptionId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,TransactionStatus,IssuedDateLoan,LoanId,InvestorId,LoanApplicationId,ThirdPartyId
0,CustomerId_310,2019-03-31 13:33:05,14000.0,-14000.0,TransactionId_925,BatchId_1144,SubscriptionId_7,UGX,256,ProviderId_1,ProductId_7,airtime,ChannelId_1,1,2019-03-31 13:33:04,LoanId_1027,InvestorId_1,LoanApplicationId_825,ThirdPartyId_1175
1,CustomerId_243,2019-03-31 15:04:09,1000.0,-1000.0,TransactionId_1080,BatchId_1214,SubscriptionId_7,UGX,256,ProviderId_1,ProductId_8,data_bundles,ChannelId_1,1,2019-03-31 15:04:08,LoanId_768,InvestorId_1,LoanApplicationId_68,ThirdPartyId_604
2,CustomerId_142,2019-03-31 17:31:11,2500.0,-2500.0,TransactionId_2315,BatchId_2150,SubscriptionId_7,UGX,256,ProviderId_1,ProductId_7,airtime,ChannelId_1,1,2019-03-31 17:31:09,LoanId_1067,InvestorId_1,LoanApplicationId_1223,ThirdPartyId_1521
3,CustomerId_142,2019-03-31 17:32:15,500.0,-500.0,TransactionId_1466,BatchId_1071,SubscriptionId_7,UGX,256,ProviderId_1,ProductId_7,airtime,ChannelId_1,1,2019-03-31 17:32:14,LoanId_202,InvestorId_1,LoanApplicationId_633,ThirdPartyId_406
4,CustomerId_142,2019-03-31 17:34:41,1000.0,-1000.0,TransactionId_337,BatchId_2477,SubscriptionId_7,UGX,256,ProviderId_1,ProductId_7,airtime,ChannelId_1,1,2019-03-31 17:34:40,LoanId_533,InvestorId_1,LoanApplicationId_309,ThirdPartyId_302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
900,CustomerId_412,2019-07-16 00:18:46,500.0,-500.0,TransactionId_680,BatchId_2079,SubscriptionId_7,UGX,256,ProviderId_1,ProductId_1,airtime,ChannelId_1,0,NaN,NaN,NaN,NaN,NaN
901,CustomerId_326,2019-07-16 03:17:01,1000.0,-1000.0,TransactionId_2504,BatchId_1432,SubscriptionId_7,UGX,256,ProviderId_1,ProductId_7,airtime,ChannelId_1,0,NaN,NaN,NaN,NaN,NaN
902,CustomerId_497,2019-07-16 15:06:22,1000.0,-1000.0,TransactionId_995,BatchId_1410,SubscriptionId_7,UGX,256,ProviderId_1,ProductId_7,airtime,ChannelId_1,0,NaN,NaN,NaN,NaN,NaN
903,CustomerId_497,2019-07-16 15:09:58,800.0,-800.0,TransactionId_708,BatchId_1343,SubscriptionId_7,UGX,256,ProviderId_1,ProductId_3,airtime,ChannelId_1,0,NaN,NaN,NaN,NaN,NaN
904,CustomerId_372,2019-07-17 05:34:45,1900.0,-1900.0,TransactionId_585,BatchId_665,SubscriptionId_7,UGX,256,ProviderId_1,ProductId_7,airtime,ChannelId_1,0,NaN,NaN,NaN,NaN,NaN

In [113]:
train=pd.read_csv("Train1.csv")
train

,CustomerId,TransactionStartTime,Value,Amount,TransactionId,BatchId,SubscriptionId,CurrencyCode,CountryCode,ProviderId,...,LoanId,PaidOnDate,IsFinalPayBack,InvestorId,DueDate,LoanApplicationId,PayBackId,ThirdPartyId,IsThirdPartyConfirmed,IsDefaulted
0,CustomerId_27,2018-09-21 12:17:39,550.0,-550.0,TransactionId_1683,BatchId_641,SubscriptionId_2,UGX,256,ProviderId_1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CustomerId_27,2018-09-25 09:20:29,550.0,-550.0,TransactionId_2235,BatchId_820,SubscriptionId_2,UGX,256,ProviderId_1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CustomerId_27,2018-09-25 10:33:31,550.0,-550.0,TransactionId_1053,BatchId_210,SubscriptionId_4,UGX,256,ProviderId_1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CustomerId_27,2018-09-27 10:26:41,1000.0,-1000.0,TransactionId_2633,BatchId_876,SubscriptionId_4,UGX,256,ProviderId_1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CustomerId_27,2018-09-27 12:44:21,500.0,-500.0,TransactionId_71,BatchId_1362,SubscriptionId_4,UGX,256,ProviderId_1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2095,CustomerId_28,2019-03-30 21:55:11,2000.0,-2000.0,TransactionId_1185,BatchId_2069,SubscriptionId_7,UGX,256,ProviderId_1,...,LoanId_293,2019-04-29 14:35:17,1.0,InvestorId_1,2019-04-29 21:55:06,LoanApplicationId_524,PayBackId_1106,ThirdPartyId_857,1.0,0.0
2096,CustomerId_28,2019-03-30 23:54:07,5000.0,-5000.0,TransactionId_1824,BatchId_1552,SubscriptionId_7,UGX,256,ProviderId_1,...,LoanId_1040,2019-04-29 14:32:37,1.0,InvestorId_1,2019-04-29 23:53:57,LoanApplicationId_1441,PayBackId_966,ThirdPartyId_958,1.0,0.0
2097,CustomerId_34,2019-03-31 05:40:10,5000.0,-5000.0,TransactionId_2507,BatchId_1093,SubscriptionId_7,UGX,256,ProviderId_1,...,LoanId_1585,2019-06-15 06:20:05,1.0,InvestorId_1,2019-04-30 05:40:02,LoanApplicationId_1466,PayBackId_1271,ThirdPartyId_1981,1.0,0.0
2098,CustomerId_346,2019-03-31 09:37:19,1500.0,-1500.0,TransactionId_540,BatchId_1239,SubscriptionId_7,UGX,256,ProviderId_1,...,LoanId_1314,2019-04-23 15:44:15,1.0,InvestorId_1,2019-04-30 09:37:15,LoanApplicationId_1389,PayBackId_945,ThirdPartyId_705,1.0,0.0
2099,CustomerId_188,2019-03-31 12:16:33,1000.0,-1000.0,TransactionId_1889,BatchId_355,SubscriptionId_7,UGX,256,ProviderId_1,...,LoanId_1570,2019-04-10 17:33:19,1.0,InvestorId_1,2019-04-30 12:16:26,LoanApplicationId_57,PayBackId_830,ThirdPartyId_899,1.0,0.0

In [114]:
unlinked_masked_final=pd.read_csv("unlinked_masked_final.csv")
unlinked_masked_final

,TransactionId,BatchId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime
0,TransactionId_18876,BatchId_7899,CustomerId_250,UGX,256,ProviderId_2,ProductId_8,data_bundles,ChannelId_3,2000.0,2000.0,30/6/19 22:57:49
1,TransactionId_15089,BatchId_8829,CustomerId_423,UGX,256,ProviderId_5,ProductId_7,airtime,ChannelId_3,800.0,800.0,30/6/19 22:39:11
2,TransactionId_9561,BatchId_15250,CustomerId_423,UGX,256,ProviderId_2,ProductId_10,financial_services,ChannelId_3,2000.0,2000.0,30/6/19 22:35:53
3,TransactionId_3635,BatchId_14442,CustomerId_316,UGX,256,ProviderId_4,ProductId_3,airtime,ChannelId_3,1000.0,1000.0,30/6/19 19:47:00
4,TransactionId_3104,BatchId_5171,CustomerId_193,UGX,256,ProviderId_5,ProductId_1,airtime,ChannelId_3,5000.0,5000.0,30/6/19 19:11:01
...,...,...,...,...,...,...,...,...,...,...,...,...
16322,TransactionId_11472,BatchId_12998,CustomerId_282,UGX,256,ProviderId_5,ProductId_3,airtime,ChannelId_3,1000.0,1000.0,1/1/19 6:28:43
16323,TransactionId_18689,BatchId_10292,CustomerId_282,UGX,256,ProviderId_5,ProductId_8,data_bundles,ChannelId_3,2000.0,2000.0,1/1/19 5:10:25
16324,TransactionId_17879,BatchId_16972,CustomerId_282,UGX,256,ProviderId_5,ProductId_3,airtime,ChannelId_3,2000.0,2000.0,1/1/19 4:54:08
16325,TransactionId_6532,BatchId_11541,CustomerId_180,UGX,256,ProviderId_3,ProductId_3,airtime,ChannelId_3,2000.0,2000.0,1/1/19 0:46:25
16326,TransactionId_16784,BatchId_11840,CustomerId_310,UGX,256,ProviderId_5,ProductId_7,airtime,ChannelId_3,2000.0,2000.0,1/1/19 0:12:01

In [115]:
unlinked_masked_final.shape

(16327, 12)

In [116]:
unlinked_masked_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16327 entries, 0 to 16326
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   TransactionId         16327 non-null  object
 1   BatchId               16327 non-null  object
 2   CustomerId            16327 non-null  object
 3   CurrencyCode          16327 non-null  object
 4   CountryCode           16327 non-null  int64
 5   ProviderId            16327 non-null  object
 6   ProductId             16327 non-null  object
 7   ProductCategory       16327 non-null  object
 8   ChannelId             16327 non-null  object
 9   Amount                16327 non-null  float64
 10  Value                 16327 non-null  float64
 11  TransactionStartTime  16327 non-null  object
dtypes: float64(2), int64(1), object(9)
memory usage: 1.5+ MB

In [117]:
#merging datasets
merge_tr1 = train.merge(unlinked_masked_final, how="inner", on = "CustomerId")
merge_tr1

,CustomerId,TransactionStartTime_x,Value_x,Amount_x,TransactionId_x,BatchId_x,SubscriptionId,CurrencyCode_x,CountryCode_x,ProviderId_x,...,BatchId_y,CurrencyCode_y,CountryCode_y,ProviderId_y,ProductId_y,ProductCategory_y,ChannelId_y,Amount_y,Value_y,TransactionStartTime_y
0,CustomerId_27,2018-09-21 12:17:39,550.0,-550.0,TransactionId_1683,BatchId_641,SubscriptionId_2,UGX,256,ProviderId_1,...,BatchId_12971,UGX,256,ProviderId_5,ProductId_8,data_bundles,ChannelId_3,500.0,500.0,30/6/19 13:10:31
1,CustomerId_27,2018-09-21 12:17:39,550.0,-550.0,TransactionId_1683,BatchId_641,SubscriptionId_2,UGX,256,ProviderId_1,...,BatchId_7669,UGX,256,ProviderId_5,ProductId_7,airtime,ChannelId_3,500.0,500.0,29/6/19 7:22:54
2,CustomerId_27,2018-09-21 12:17:39,550.0,-550.0,TransactionId_1683,BatchId_641,SubscriptionId_2,UGX,256,ProviderId_1,...,BatchId_18228,UGX,256,ProviderId_5,ProductId_3,airtime,ChannelId_3,1000.0,1000.0,28/6/19 16:47:28
3,CustomerId_27,2018-09-21 12:17:39,550.0,-550.0,TransactionId_1683,BatchId_641,SubscriptionId_2,UGX,256,ProviderId_1,...,BatchId_14282,UGX,256,ProviderId_5,ProductId_8,data_bundles,ChannelId_3,500.0,500.0,28/6/19 14:23:39
4,CustomerId_27,2018-09-21 12:17:39,550.0,-550.0,TransactionId_1683,BatchId_641,SubscriptionId_2,UGX,256,ProviderId_1,...,BatchId_5595,UGX,256,ProviderId_3,ProductId_9,utility_bill,ChannelId_3,50000.0,53500.0,28/6/19 13:32:18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130055,CustomerId_188,2019-03-31 12:16:33,1000.0,-1000.0,TransactionId_1889,BatchId_355,SubscriptionId_7,UGX,256,ProviderId_1,...,BatchId_8350,UGX,256,ProviderId_2,ProductId_10,financial_services,ChannelId_3,5000.0,5000.0,23/1/19 18:27:59
130056,CustomerId_188,2019-03-31 12:16:33,1000.0,-1000.0,TransactionId_1889,BatchId_355,SubscriptionId_7,UGX,256,ProviderId_1,...,BatchId_17898,UGX,256,ProviderId_5,ProductId_1,airtime,ChannelId_3,2000.0,2000.0,22/1/19 5:01:07
130057,CustomerId_188,2019-03-31 12:16:33,1000.0,-1000.0,TransactionId_1889,BatchId_355,SubscriptionId_7,UGX,256,ProviderId_1,...,BatchId_7844,UGX,256,ProviderId_5,ProductId_1,airtime,ChannelId_3,1000.0,1000.0,21/1/19 5:08:49
130058,CustomerId_188,2019-03-31 12:16:33,1000.0,-1000.0,TransactionId_1889,BatchId_355,SubscriptionId_7,UGX,256,ProviderId_1,...,BatchId_10254,UGX,256,ProviderId_5,ProductId_3,airtime,ChannelId_3,1000.0,1000.0,21/1/19 4:07:40
130059,CustomerId_188,2019-03-31 12:16:33,1000.0,-1000.0,TransactionId_1889,BatchId_355,SubscriptionId_7,UGX,256,ProviderId_1,...,BatchId_17114,UGX,256,ProviderId_2,ProductId_10,financial_services,ChannelId_3,3000.0,3000.0,19/1/19 9:32:57

In [118]:
check_null = merge_tr1.isnull().sum()
check_null

CustomerId                    0
TransactionStartTime_x        0
Value_x                       0
Amount_x                      0
TransactionId_x               0
BatchId_x                     0
SubscriptionId                0
CurrencyCode_x                0
CountryCode_x                 0
ProviderId_x                  0
ProductId_x                   0
ProductCategory_x             0
ChannelId_x                   0
TransactionStatus             0
IssuedDateLoan            11736
AmountLoan                11736
Currency                  11736
LoanId                    11736
PaidOnDate                11736
IsFinalPayBack            11736
InvestorId                11736
DueDate                   11925
LoanApplicationId         12125
PayBackId                 11736
ThirdPartyId              11736
IsThirdPartyConfirmed     11736
IsDefaulted               11736
TransactionId_y               0
BatchId_y                     0
CurrencyCode_y                0
CountryCode_y                 0
ProviderId_y                  0
ProductId_y                   0
ProductCategory_y             0
ChannelId_y                   0
Amount_y                      0
Value_y                       0
TransactionStartTime_y        0
dtype: int64

In [119]:
#handling null values
merge_tr1.fillna(0, inplace=True)

In [120]:
train.shape

(2100, 27)

In [121]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2100 entries, 0 to 2099
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CustomerId             2100 non-null   object
 1   TransactionStartTime   2100 non-null   object
 2   Value                  2100 non-null   float64
 3   Amount                 2100 non-null   float64
 4   TransactionId          2100 non-null   object
 5   BatchId                2100 non-null   object
 6   SubscriptionId         2100 non-null   object
 7   CurrencyCode           2100 non-null   object
 8   CountryCode            2100 non-null   int64
 9   ProviderId             2100 non-null   object
 10  ProductId              2100 non-null   object
 11  ProductCategory        2100 non-null   object
 12  ChannelId              2100 non-null   object
 13  TransactionStatus      2100 non-null   int64
 14  IssuedDateLoan         1488 non-null   object
 15  AmountLoan             1488 non-null   float64
 16  Currency               1488 non-null   object
 17  LoanId                 1488 non-null   object
 18  PaidOnDate             1488 non-null   object
 19  IsFinalPayBack         1488 non-null   float64
 20  InvestorId             1488 non-null   object
 21  DueDate                1486 non-null   object
 22  LoanApplicationId      1483 non-null   object
 23  PayBackId              1488 non-null   object
 24  ThirdPartyId           1486 non-null   object
 25  IsThirdPartyConfirmed  1488 non-null   float64
 26  IsDefaulted            1488 non-null   float64
dtypes: float64(6), int64(2), object(19)
memory usage: 443.1+ KB

In [122]:
#merging datasets
merge_te1 = test.merge(unlinked_masked_final ,how="inner", on = "CustomerId")
merge_te1

,CustomerId,TransactionStartTime_x,Value_x,Amount_x,TransactionId_x,BatchId_x,SubscriptionId,CurrencyCode_x,CountryCode_x,ProviderId_x,...,BatchId_y,CurrencyCode_y,CountryCode_y,ProviderId_y,ProductId_y,ProductCategory_y,ChannelId_y,Amount_y,Value_y,TransactionStartTime_y
0,CustomerId_310,2019-03-31 13:33:05,14000.0,-14000.0,TransactionId_925,BatchId_1144,SubscriptionId_7,UGX,256,ProviderId_1,...,BatchId_16936,UGX,256,ProviderId_5,ProductId_1,airtime,ChannelId_3,1000.0,1000.0,3/5/19 17:26:30
1,CustomerId_310,2019-03-31 13:33:05,14000.0,-14000.0,TransactionId_925,BatchId_1144,SubscriptionId_7,UGX,256,ProviderId_1,...,BatchId_17100,UGX,256,ProviderId_5,ProductId_1,airtime,ChannelId_3,1000.0,1000.0,3/5/19 11:49:56
2,CustomerId_310,2019-03-31 13:33:05,14000.0,-14000.0,TransactionId_925,BatchId_1144,SubscriptionId_7,UGX,256,ProviderId_1,...,BatchId_11594,UGX,256,ProviderId_5,ProductId_7,airtime,ChannelId_3,1000.0,1000.0,3/5/19 11:26:08
3,CustomerId_310,2019-03-31 13:33:05,14000.0,-14000.0,TransactionId_925,BatchId_1144,SubscriptionId_7,UGX,256,ProviderId_1,...,BatchId_7110,UGX,256,ProviderId_5,ProductId_2,data_bundles,ChannelId_3,1750.0,1750.0,1/5/19 8:33:27
4,CustomerId_310,2019-03-31 13:33:05,14000.0,-14000.0,TransactionId_925,BatchId_1144,SubscriptionId_7,UGX,256,ProviderId_1,...,BatchId_18849,UGX,256,ProviderId_5,ProductId_2,data_bundles,ChannelId_3,1750.0,1750.0,1/5/19 7:30:47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73508,CustomerId_326,2019-07-16 03:17:01,1000.0,-1000.0,TransactionId_2504,BatchId_1432,SubscriptionId_7,UGX,256,ProviderId_1,...,BatchId_14421,UGX,256,ProviderId_4,ProductId_10,financial_services,ChannelId_3,9000.0,9000.0,15/1/19 5:34:26
73509,CustomerId_326,2019-07-16 03:17:01,1000.0,-1000.0,TransactionId_2504,BatchId_1432,SubscriptionId_7,UGX,256,ProviderId_1,...,BatchId_12702,UGX,256,ProviderId_5,ProductId_7,airtime,ChannelId_3,10000.0,10000.0,4/1/19 10:12:03
73510,CustomerId_326,2019-07-16 03:17:01,1000.0,-1000.0,TransactionId_2504,BatchId_1432,SubscriptionId_7,UGX,256,ProviderId_1,...,BatchId_15242,UGX,256,ProviderId_4,ProductId_10,financial_services,ChannelId_3,20000.0,20000.0,4/1/19 9:59:06
73511,CustomerId_326,2019-07-16 03:17:01,1000.0,-1000.0,TransactionId_2504,BatchId_1432,SubscriptionId_7,UGX,256,ProviderId_1,...,BatchId_17563,UGX,256,ProviderId_5,ProductId_3,airtime,ChannelId_3,3000.0,3000.0,4/1/19 1:53:24
73512,CustomerId_326,2019-07-16 03:17:01,1000.0,-1000.0,TransactionId_2504,BatchId_1432,SubscriptionId_7,UGX,256,ProviderId_1,...,BatchId_15580,UGX,256,ProviderId_4,ProductId_10,financial_services,ChannelId_3,1600.0,1600.0,4/1/19 1:51:42

In [123]:
test.shape

(905, 19)

In [124]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 905 entries, 0 to 904
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerId            905 non-null    object
 1   TransactionStartTime  905 non-null    object
 2   Value                 905 non-null    float64
 3   Amount                905 non-null    float64
 4   TransactionId         905 non-null    object
 5   BatchId               905 non-null    object
 6   SubscriptionId        905 non-null    object
 7   CurrencyCode          905 non-null    object
 8   CountryCode           905 non-null    int64
 9   ProviderId            905 non-null    object
 10  ProductId             905 non-null    object
 11  ProductCategory       905 non-null    object
 12  ChannelId             905 non-null    object
 13  TransactionStatus     905 non-null    int64
 14  IssuedDateLoan        478 non-null    object
 15  LoanId                478 non-null    object
 16  InvestorId            478 non-null    object
 17  LoanApplicationId     478 non-null    object
 18  ThirdPartyId          478 non-null    object
dtypes: float64(2), int64(2), object(15)
memory usage: 134.5+ KB

In [125]:
# Check duplicates
merge_te1.duplicated().sum()

np.int64(0)

In [126]:
merge_te1

,CustomerId,TransactionStartTime_x,Value_x,Amount_x,TransactionId_x,BatchId_x,SubscriptionId,CurrencyCode_x,CountryCode_x,ProviderId_x,...,BatchId_y,CurrencyCode_y,CountryCode_y,ProviderId_y,ProductId_y,ProductCategory_y,ChannelId_y,Amount_y,Value_y,TransactionStartTime_y
0,CustomerId_310,2019-03-31 13:33:05,14000.0,-14000.0,TransactionId_925,BatchId_1144,SubscriptionId_7,UGX,256,ProviderId_1,...,BatchId_16936,UGX,256,ProviderId_5,ProductId_1,airtime,ChannelId_3,1000.0,1000.0,3/5/19 17:26:30
1,CustomerId_310,2019-03-31 13:33:05,14000.0,-14000.0,TransactionId_925,BatchId_1144,SubscriptionId_7,UGX,256,ProviderId_1,...,BatchId_17100,UGX,256,ProviderId_5,ProductId_1,airtime,ChannelId_3,1000.0,1000.0,3/5/19 11:49:56
2,CustomerId_310,2019-03-31 13:33:05,14000.0,-14000.0,TransactionId_925,BatchId_1144,SubscriptionId_7,UGX,256,ProviderId_1,...,BatchId_11594,UGX,256,ProviderId_5,ProductId_7,airtime,ChannelId_3,1000.0,1000.0,3/5/19 11:26:08
3,CustomerId_310,2019-03-31 13:33:05,14000.0,-14000.0,TransactionId_925,BatchId_1144,SubscriptionId_7,UGX,256,ProviderId_1,...,BatchId_7110,UGX,256,ProviderId_5,ProductId_2,data_bundles,ChannelId_3,1750.0,1750.0,1/5/19 8:33:27
4,CustomerId_310,2019-03-31 13:33:05,14000.0,-14000.0,TransactionId_925,BatchId_1144,SubscriptionId_7,UGX,256,ProviderId_1,...,BatchId_18849,UGX,256,ProviderId_5,ProductId_2,data_bundles,ChannelId_3,1750.0,1750.0,1/5/19 7:30:47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73508,CustomerId_326,2019-07-16 03:17:01,1000.0,-1000.0,TransactionId_2504,BatchId_1432,SubscriptionId_7,UGX,256,ProviderId_1,...,BatchId_14421,UGX,256,ProviderId_4,ProductId_10,financial_services,ChannelId_3,9000.0,9000.0,15/1/19 5:34:26
73509,CustomerId_326,2019-07-16 03:17:01,1000.0,-1000.0,TransactionId_2504,BatchId_1432,SubscriptionId_7,UGX,256,ProviderId_1,...,BatchId_12702,UGX,256,ProviderId_5,ProductId_7,airtime,ChannelId_3,10000.0,10000.0,4/1/19 10:12:03
73510,CustomerId_326,2019-07-16 03:17:01,1000.0,-1000.0,TransactionId_2504,BatchId_1432,SubscriptionId_7,UGX,256,ProviderId_1,...,BatchId_15242,UGX,256,ProviderId_4,ProductId_10,financial_services,ChannelId_3,20000.0,20000.0,4/1/19 9:59:06
73511,CustomerId_326,2019-07-16 03:17:01,1000.0,-1000.0,TransactionId_2504,BatchId_1432,SubscriptionId_7,UGX,256,ProviderId_1,...,BatchId_17563,UGX,256,ProviderId_5,ProductId_3,airtime,ChannelId_3,3000.0,3000.0,4/1/19 1:53:24
73512,CustomerId_326,2019-07-16 03:17:01,1000.0,-1000.0,TransactionId_2504,BatchId_1432,SubscriptionId_7,UGX,256,ProviderId_1,...,BatchId_15580,UGX,256,ProviderId_4,ProductId_10,financial_services,ChannelId_3,1600.0,1600.0,4/1/19 1:51:42

In [127]:
check_null = merge_te1.isnull().sum()
check_null

CustomerId                    0
TransactionStartTime_x        0
Value_x                       0
Amount_x                      0
TransactionId_x               0
BatchId_x                     0
SubscriptionId                0
CurrencyCode_x                0
CountryCode_x                 0
ProviderId_x                  0
ProductId_x                   0
ProductCategory_x             0
ChannelId_x                   0
TransactionStatus             0
IssuedDateLoan            23450
LoanId                    23450
InvestorId                23450
LoanApplicationId         23450
ThirdPartyId              23450
TransactionId_y               0
BatchId_y                     0
CurrencyCode_y                0
CountryCode_y                 0
ProviderId_y                  0
ProductId_y                   0
ProductCategory_y             0
ChannelId_y                   0
Amount_y                      0
Value_y                       0
TransactionStartTime_y        0
dtype: int64

In [128]:

merge_te1.fillna(0, inplace=True)

In [129]:
#handling null values
fillna_train = merge_tr1.fillna("Unknown")
fillna_train
fillna_train.isnull().sum()

CustomerId                0
TransactionStartTime_x    0
Value_x                   0
Amount_x                  0
TransactionId_x           0
BatchId_x                 0
SubscriptionId            0
CurrencyCode_x            0
CountryCode_x             0
ProviderId_x              0
ProductId_x               0
ProductCategory_x         0
ChannelId_x               0
TransactionStatus         0
IssuedDateLoan            0
AmountLoan                0
Currency                  0
LoanId                    0
PaidOnDate                0
IsFinalPayBack            0
InvestorId                0
DueDate                   0
LoanApplicationId         0
PayBackId                 0
ThirdPartyId              0
IsThirdPartyConfirmed     0
IsDefaulted               0
TransactionId_y           0
BatchId_y                 0
CurrencyCode_y            0
CountryCode_y             0
ProviderId_y              0
ProductId_y               0
ProductCategory_y         0
ChannelId_y               0
Amount_y                  0
Value_y                   0
TransactionStartTime_y    0
dtype: int64

In [130]:
fillna_test = merge_te1.fillna("Unknown")
fillna_test.isnull().sum()

CustomerId                0
TransactionStartTime_x    0
Value_x                   0
Amount_x                  0
TransactionId_x           0
BatchId_x                 0
SubscriptionId            0
CurrencyCode_x            0
CountryCode_x             0
ProviderId_x              0
ProductId_x               0
ProductCategory_x         0
ChannelId_x               0
TransactionStatus         0
IssuedDateLoan            0
LoanId                    0
InvestorId                0
LoanApplicationId         0
ThirdPartyId              0
TransactionId_y           0
BatchId_y                 0
CurrencyCode_y            0
CountryCode_y             0
ProviderId_y              0
ProductId_y               0
ProductCategory_y         0
ChannelId_y               0
Amount_y                  0
Value_y                   0
TransactionStartTime_y    0
dtype: int64

In [131]:
drop_target=fillna_train.drop(['IsDefaulted'],axis=1)
drop_target

,CustomerId,TransactionStartTime_x,Value_x,Amount_x,TransactionId_x,BatchId_x,SubscriptionId,CurrencyCode_x,CountryCode_x,ProviderId_x,...,BatchId_y,CurrencyCode_y,CountryCode_y,ProviderId_y,ProductId_y,ProductCategory_y,ChannelId_y,Amount_y,Value_y,TransactionStartTime_y
0,CustomerId_27,2018-09-21 12:17:39,550.0,-550.0,TransactionId_1683,BatchId_641,SubscriptionId_2,UGX,256,ProviderId_1,...,BatchId_12971,UGX,256,ProviderId_5,ProductId_8,data_bundles,ChannelId_3,500.0,500.0,30/6/19 13:10:31
1,CustomerId_27,2018-09-21 12:17:39,550.0,-550.0,TransactionId_1683,BatchId_641,SubscriptionId_2,UGX,256,ProviderId_1,...,BatchId_7669,UGX,256,ProviderId_5,ProductId_7,airtime,ChannelId_3,500.0,500.0,29/6/19 7:22:54
2,CustomerId_27,2018-09-21 12:17:39,550.0,-550.0,TransactionId_1683,BatchId_641,SubscriptionId_2,UGX,256,ProviderId_1,...,BatchId_18228,UGX,256,ProviderId_5,ProductId_3,airtime,ChannelId_3,1000.0,1000.0,28/6/19 16:47:28
3,CustomerId_27,2018-09-21 12:17:39,550.0,-550.0,TransactionId_1683,BatchId_641,SubscriptionId_2,UGX,256,ProviderId_1,...,BatchId_14282,UGX,256,ProviderId_5,ProductId_8,data_bundles,ChannelId_3,500.0,500.0,28/6/19 14:23:39
4,CustomerId_27,2018-09-21 12:17:39,550.0,-550.0,TransactionId_1683,BatchId_641,SubscriptionId_2,UGX,256,ProviderId_1,...,BatchId_5595,UGX,256,ProviderId_3,ProductId_9,utility_bill,ChannelId_3,50000.0,53500.0,28/6/19 13:32:18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130055,CustomerId_188,2019-03-31 12:16:33,1000.0,-1000.0,TransactionId_1889,BatchId_355,SubscriptionId_7,UGX,256,ProviderId_1,...,BatchId_8350,UGX,256,ProviderId_2,ProductId_10,financial_services,ChannelId_3,5000.0,5000.0,23/1/19 18:27:59
130056,CustomerId_188,2019-03-31 12:16:33,1000.0,-1000.0,TransactionId_1889,BatchId_355,SubscriptionId_7,UGX,256,ProviderId_1,...,BatchId_17898,UGX,256,ProviderId_5,ProductId_1,airtime,ChannelId_3,2000.0,2000.0,22/1/19 5:01:07
130057,CustomerId_188,2019-03-31 12:16:33,1000.0,-1000.0,TransactionId_1889,BatchId_355,SubscriptionId_7,UGX,256,ProviderId_1,...,BatchId_7844,UGX,256,ProviderId_5,ProductId_1,airtime,ChannelId_3,1000.0,1000.0,21/1/19 5:08:49
130058,CustomerId_188,2019-03-31 12:16:33,1000.0,-1000.0,TransactionId_1889,BatchId_355,SubscriptionId_7,UGX,256,ProviderId_1,...,BatchId_10254,UGX,256,ProviderId_5,ProductId_3,airtime,ChannelId_3,1000.0,1000.0,21/1/19 4:07:40
130059,CustomerId_188,2019-03-31 12:16:33,1000.0,-1000.0,TransactionId_1889,BatchId_355,SubscriptionId_7,UGX,256,ProviderId_1,...,BatchId_17114,UGX,256,ProviderId_2,ProductId_10,financial_services,ChannelId_3,3000.0,3000.0,19/1/19 9:32:57

In [132]:
#display target
target=fillna_train['IsDefaulted']
target

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
130055    0.0
130056    0.0
130057    0.0
130058    0.0
130059    0.0
Name: IsDefaulted, Length: 130060, dtype: float64

In [134]:
x = drop_target.drop(["CustomerId","TransactionStartTime_x","TransactionStartTime_y", "PaidOnDate", "DueDate","TransactionId_x","TransactionId_y","SubscriptionId","BatchId_y","LoanId","BatchId_x","ProviderId_x","ProviderId_y","ProductId_x","ProductId_y","IssuedDateLoan"],axis = 1)
x

,Value_x,Amount_x,CurrencyCode_x,CountryCode_x,ProductCategory_x,ChannelId_x,TransactionStatus,AmountLoan,Currency,IsFinalPayBack,...,LoanApplicationId,PayBackId,ThirdPartyId,IsThirdPartyConfirmed,CurrencyCode_y,CountryCode_y,ProductCategory_y,ChannelId_y,Amount_y,Value_y
0,550.0,-550.0,UGX,256,airtime,ChannelId_1,0,0.0,0,0.0,...,0,0,0,0.0,UGX,256,data_bundles,ChannelId_3,500.0,500.0
1,550.0,-550.0,UGX,256,airtime,ChannelId_1,0,0.0,0,0.0,...,0,0,0,0.0,UGX,256,airtime,ChannelId_3,500.0,500.0
2,550.0,-550.0,UGX,256,airtime,ChannelId_1,0,0.0,0,0.0,...,0,0,0,0.0,UGX,256,airtime,ChannelId_3,1000.0,1000.0
3,550.0,-550.0,UGX,256,airtime,ChannelId_1,0,0.0,0,0.0,...,0,0,0,0.0,UGX,256,data_bundles,ChannelId_3,500.0,500.0
4,550.0,-550.0,UGX,256,airtime,ChannelId_1,0,0.0,0,0.0,...,0,0,0,0.0,UGX,256,utility_bill,ChannelId_3,50000.0,53500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130055,1000.0,-1000.0,UGX,256,airtime,ChannelId_1,1,1090.0,UGX,1.0,...,LoanApplicationId_57,PayBackId_830,ThirdPartyId_899,1.0,UGX,256,financial_services,ChannelId_3,5000.0,5000.0
130056,1000.0,-1000.0,UGX,256,airtime,ChannelId_1,1,1090.0,UGX,1.0,...,LoanApplicationId_57,PayBackId_830,ThirdPartyId_899,1.0,UGX,256,airtime,ChannelId_3,2000.0,2000.0
130057,1000.0,-1000.0,UGX,256,airtime,ChannelId_1,1,1090.0,UGX,1.0,...,LoanApplicationId_57,PayBackId_830,ThirdPartyId_899,1.0,UGX,256,airtime,ChannelId_3,1000.0,1000.0
130058,1000.0,-1000.0,UGX,256,airtime,ChannelId_1,1,1090.0,UGX,1.0,...,LoanApplicationId_57,PayBackId_830,ThirdPartyId_899,1.0,UGX,256,airtime,ChannelId_3,1000.0,1000.0
130059,1000.0,-1000.0,UGX,256,airtime,ChannelId_1,1,1090.0,UGX,1.0,...,LoanApplicationId_57,PayBackId_830,ThirdPartyId_899,1.0,UGX,256,financial_services,ChannelId_3,3000.0,3000.0

In [135]:
print(x.columns)

Index(['Value_x', 'Amount_x', 'CurrencyCode_x', 'CountryCode_x',
       'ProductCategory_x', 'ChannelId_x', 'TransactionStatus', 'AmountLoan',
       'Currency', 'IsFinalPayBack', 'InvestorId', 'LoanApplicationId',
       'PayBackId', 'ThirdPartyId', 'IsThirdPartyConfirmed', 'CurrencyCode_y',
       'CountryCode_y', 'ProductCategory_y', 'ChannelId_y', 'Amount_y',
       'Value_y'],
      dtype='object')

In [136]:
import numpy as np
from sklearn.preprocessing import LabelEncoder